/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: calc(100% - 1em); /* Make room for 2 margins of .5em */
  margin: .5em;
  padding: 0;
  font-family: sans-serif;
  background-color: #FFFFFF;
  color: #000000;
}

#selectorplus {
  position: absolute;
  top: .5em;
  right: .5em;
  text-align: right;
}

#selectorsubline {
  font-size: .75em;
  margin: 0;
}

input[type="checkbox"]:disabled + label {
  color: #808080;
}

h1 {
  margin-top: 0; /* Makes sure the body height calculation works */
  text-align: center;
}

#notification {
  margin: .5em;
  padding: .5em;
  background-color: #FFBB44;
  color: #000000;
}

.hidden {
  display: none;
}

#graphdiv {
}

.dygraph-legend {
  background-color: rgba(255, 255, 255, .75) !important;
}

.dygraphDefaultAnnotation {
  opacity: 0.5;
}

.dataissue {
  opacity: 0.3;
  color: #404040 !important;
  border-color: #404040 !important;
  background-color: #CCCCCC !important;
}

/* common footer */

#footer {
  margin-top: .5em;
  border-top: 1px solid #CCCCCC;
  font-size: .75em;
  color: #8080CC;
}

#footer a:link, #footer a:visited { color: #AA99CC; }
#footer a:hover, #footer a:active { color: #663399; }
