/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  font-family: sans-serif;
  background-color: #FFFFFF;
  color: #000000;
}

h1 {
  margin-bottom: 0;
}

#dataLine {
  margin-top: 0;
}

.help {
  color: #808080;
  font-style: italic;
  font-size: 75%;
}

table {
  border-collapse: collapse;
  border-spacing: 0 0;
}

th, td {
  padding: 1px 3px;
}

th {
  text-align: left;
}

.sig {
  font-size: small;
  text-align: left;
/*  vertical-align: top;*/
}

.num {
  text-align: right;
  vertical-align: middle;
}

.bugs {
  font-size: small;
}

.bugs > a[data-status="RESOLVED"] {
  text-decoration: line-through;
}

.bugs > a[data-status="RESOLVED"]:not([data-resolution="FIXED"]):not(:hover) {
 opacity: 0.5;
}

.reasons > span,
.reasons > span[data-sextile="0"],
.reasons > span[data-sextile="1"] {
  cursor: pointer;
  opacity: 0.05;
}

.reasons > span[data-sextile="2"] {
  opacity: 0.25;
}

.reasons > span[data-sextile="3"] {
  opacity: 0.5;
}

.reasons > span[data-sextile="4"] {
  opacity: 0.75;
}

.reasons > span[data-sextile="5"],
.reasons > span[data-sextile="6"] {
  opacity: 1;
}

.reasons > span:hover {
  color: #FF8000;
  opacity: 1;
}

#debugLog {
  display: none;
}

/* common footer */

#footer {
  margin-top: 2em;
  border-top: 1px solid #CCCCCC;
  font-size: .75em;
  color: #8080CC;
}

html.fullpage > body > #footer {
  margin-top: .5em;
}

#footer a:link, #footer a:visited { color: #AA99CC; }
#footer a:hover, #footer a:active { color: #663399; }
